In [1]:
!pip install dask[complete]

Requirement already satisfied: dask[complete] in c:\anaconda\vedika\anaconda3\lib\site-packages (2025.2.0)
Requirement already satisfied: click>=8.1 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (8.1.8)
Requirement already satisfied: cloudpickle>=3.0.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (3.0.0)
Requirement already satisfied: fsspec>=2021.09.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (2025.3.2)
Requirement already satisfied: packaging>=20.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (24.2)
Requirement already satisfied: partd>=1.4.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (1.4.2)
Requirement already satisfied: pyyaml>=5.3.1 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (6.0.2)
Requirement already satisfied: toolz>=0.10.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (1.0.0)
Requirement already satisfied: pyarrow>=14.0.1 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (19.0.0)
Requirement already satisfied: lz4>=4.3.2 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: colorama in c:\anaconda\vedika\anaconda3\lib\site-packages (from click>=8.1->dask[complete]) (0.4.6)
Requirement already satisfied: locket in c:\anaconda\vedika\anaconda3\lib\site-packages (from partd>=1.4.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.24 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (2.1.3)
Requirement already satisfied: pandas>=2.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (2.2.3)
Requirement already satisfied: distributed==2025.2.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (2025.2.0)
Requirement already satisfied: bokeh>=3.1.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (3.6.2)
Requirement already satisfied: jinja2>=2.10.3 in c:\anaconda\vedika\anaconda3\lib\site-packages (from dask[complete]) (3.1.6)
Requirement already satisfied: msgpack>=1.0.2 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (1.0.3)
Requirement already satisfied: psutil>=5.8.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (3.1.0)
Requirement already satisfied: tornado>=6.2.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (6.5.1)
Requirement already satisfied: urllib3>=1.26.5 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (2.3.0)
Requirement already satisfied: zict>=3.0.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from distributed==2025.2.0->dask[complete]) (3.0.0)
Requirement already satisfied: contourpy>=1.2 in c:\anaconda\vedika\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (1.3.1)
Requirement already satisfied: pillow>=7.1.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (11.1.0)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\anaconda\vedika\anaconda3\lib\site-packages (from bokeh>=3.1.0->dask[complete]) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\anaconda\vedika\anaconda3\lib\site-packages (from jinja2>=2.10.3->dask[complete]) (3.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\vedika\anaconda3\lib\site-packages (from pandas>=2.0->dask[complete]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\vedika\anaconda3\lib\site-packages (from pandas>=2.0->dask[complete]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\anaconda\vedika\anaconda3\lib\site-packages (from pandas>=2.0->dask[complete]) (2025.2)
Requirement already satisfied: six>=1.5 in c:\anaconda\vedika\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.0->dask[complete]) (1.17.0)

In [2]:
import dask.dataframe as dd
import matplotlib.pyplot as plt

In [4]:
df = dd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,<NA>,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,<NA>,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,<NA>,S

In [5]:
# Basic info
print("Total rows (approx):", df.shape[0].compute())
print("\nColumns:", df.columns)

Total rows (approx): 891

Columns: Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
# Check for missing values
print("\nMissing values per column:\n", df.isnull().sum().compute())

Missing values per column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
# Calculate survival rate
survival_rate = df['Survived'].mean().compute()
print("\nSurvival Rate:", survival_rate)

Survival Rate: 0.3838383838383838

In [8]:
# Group by Sex and calculate survival rate
grouped = df.groupby('Sex')['Survived'].mean().compute()
print("\nSurvival rate by Gender:\n", grouped)

Survival rate by Gender:
 Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64